@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100..900;1,100..900&display=swap');

$font: "Lato", sans-serif;
$primary-color: #6c757d; // Neutral gray
$secondary-color: #adb5bd; // Lighter gray
$dark-color: #343a40; // Darker gray for text
$light-color: #f8f9fa; // Very light gray
$background-color: #e9ecef; // Light gray background

@mixin flexbox($jc, $ai, $w: false, $d: false) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    @if $w {
        flex-wrap: $w;
    }
    @if $d {
        flex-direction: $d;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
    font-size: 1rem;
    color: $dark-color;
    padding-top: 60px;
    background-color: $background-color;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.button, button {
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    background-color: $primary-color;
    border-radius: 5px;
    color: $light-color;
	text-decoration: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

input {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

form {
    max-width: 500px;
    margin: 1rem auto;
    padding: 2rem;
    background-color: $light-color;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form.vertical {
    @include flexbox(center, center, false, column);
}

label {
    margin-top: 0.5rem;
    display: block;
    font-weight: 600;
}