@import 'data';

form {
    max-width:300px;
    margin:auto;
    
    label {
        margin-top:1rem;
    }
    input {
        width:100%;
    }
    button {
        margin-top: 1rem;
    }
    &.vertical {
       @include flexbox(flex-start, flex-start, wrap, column); 
    }
}
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    box-shadow: 0 0 5px rgba(13, 27, 42, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
  }
  #menu a {
    text-decoration: none;
    color: rgb(27, 38, 59);
  }
  #menu > a {
    font-family: "Oswald", sans-serif;
    font-size: 1.4rem;
    color: rgb(27, 38, 59);
    font-weight: bold;
    text-transform: uppercase;
  }
  #menu nav {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .inside-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    margin: 0 auto 1rem auto;
  }
  .inside-menu a {
    background: rgb(65, 90, 119);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
  }
  