@import 'data';

form {
    max-width:300px;
    margin:auto;
    
    label {
        margin-top:1rem;
    }
    input {
        width:100%;
    }
    button {
        margin-top: 1rem;
    }
    &.vertical {
       @include flexbox(flex-start, flex-start, wrap, column); 
    }
}


body {
  padding-top: 70px; 
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    box-shadow: 0 0 5px rgba(13, 27, 42, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

	a {
		text-decoration: none;
		font-family: "Oswald", sans-serif;
		color: rgb(27, 38, 59);
		font-weight: bold;
		text-transform: uppercase;
}
}

.dropdown {
    position: relative;
    display: inline-block;
	
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 1000;

		a {
			font-size: 12px;
		}
		
	}

}
.dropdown:hover .dropdown-content {
	display: block;
}

